<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lengyan.crawler.store.dao.QQAccountMapper" >
  <resultMap id="BaseResultMap" type="org.lengyan.crawler.store.model.po.QQAccount" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="qq_account" property="qqAccount" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="star_sign" property="starSign" jdbcType="VARCHAR" />
    <result column="today_visitor" property="todayVisitor" jdbcType="INTEGER" />
    <result column="history_visitor" property="historyVisitor" jdbcType="INTEGER" />
    <result column="origin_url" property="originUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, qq_account, nick_name, gender, age, country, province, address, mobile, telephone, 
    email, star_sign, today_visitor, history_visitor, origin_url, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_TENCENT_QQACCOUNT
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_TENCENT_QQACCOUNT
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.lengyan.crawler.store.model.po.QQAccount" >
    insert into T_TENCENT_QQACCOUNT (id, qq_account, nick_name, 
      gender, age, country, 
      province, address, mobile, 
      telephone, email, star_sign, 
      today_visitor, history_visitor, origin_url, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{qqAccount,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{starSign,jdbcType=VARCHAR}, 
      #{todayVisitor,jdbcType=INTEGER}, #{historyVisitor,jdbcType=INTEGER}, #{originUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.lengyan.crawler.store.model.po.QQAccount" >
    insert into T_TENCENT_QQACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qqAccount != null" >
        qq_account,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="starSign != null" >
        star_sign,
      </if>
      <if test="todayVisitor != null" >
        today_visitor,
      </if>
      <if test="historyVisitor != null" >
        history_visitor,
      </if>
      <if test="originUrl != null" >
        origin_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="qqAccount != null" >
        #{qqAccount,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="starSign != null" >
        #{starSign,jdbcType=VARCHAR},
      </if>
      <if test="todayVisitor != null" >
        #{todayVisitor,jdbcType=INTEGER},
      </if>
      <if test="historyVisitor != null" >
        #{historyVisitor,jdbcType=INTEGER},
      </if>
      <if test="originUrl != null" >
        #{originUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lengyan.crawler.store.model.po.QQAccount" >
    update T_TENCENT_QQACCOUNT
    <set >
      <!-- <if test="qqAccount != null" >
        qq_account = #{qqAccount,jdbcType=VARCHAR},
      </if> -->
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="starSign != null" >
        star_sign = #{starSign,jdbcType=VARCHAR},
      </if>
      <if test="todayVisitor != null" >
        today_visitor = #{todayVisitor,jdbcType=INTEGER},
      </if>
      <if test="historyVisitor != null" >
        history_visitor = #{historyVisitor,jdbcType=INTEGER},
      </if>
      <if test="originUrl != null" >
        origin_url = #{originUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <!-- where id = #{id,jdbcType=BIGINT} -->
    where qq_account = #{qqAccount,jdbcType=VARCHAR},
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lengyan.crawler.store.model.po.QQAccount" >
    update T_TENCENT_QQACCOUNT
    set qq_account = #{qqAccount,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      star_sign = #{starSign,jdbcType=VARCHAR},
      today_visitor = #{todayVisitor,jdbcType=INTEGER},
      history_visitor = #{historyVisitor,jdbcType=INTEGER},
      origin_url = #{originUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>