<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lengyan.crawler.store.dao.qicha.QichaShareholderMapper" >
  <resultMap id="BaseResultMap" type="org.lengyan.crawler.store.model.po.xmlpo.qicha.QichaShareholder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sh_name" property="shName" jdbcType="VARCHAR" />
    <result column="qiye_name" property="qiyeName" jdbcType="VARCHAR" />
    <result column="sh_ratio" property="shRatio" jdbcType="VARCHAR" />
    <result column="sh_contrib" property="shContrib" jdbcType="VARCHAR" />
    <result column="sh_contrib_date" property="shContribDate" jdbcType="VARCHAR" />
    <result column="sh_type" property="shType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sh_name, qiye_name, sh_ratio, sh_contrib, sh_contrib_date, sh_type, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_qicha_shareholder
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_qicha_shareholder
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.lengyan.crawler.store.model.po.xmlpo.qicha.QichaShareholder" >
    insert into t_qicha_shareholder (id, sh_name, qiye_name, 
      sh_ratio, sh_contrib, sh_contrib_date, 
      sh_type, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{shName,jdbcType=VARCHAR}, #{qiyeName,jdbcType=VARCHAR}, 
      #{shRatio,jdbcType=VARCHAR}, #{shContrib,jdbcType=VARCHAR}, #{shContribDate,jdbcType=VARCHAR}, 
      #{shType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lengyan.crawler.store.model.po.xmlpo.qicha.QichaShareholder" >
    insert into t_qicha_shareholder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shName != null" >
        sh_name,
      </if>
      <if test="qiyeName != null" >
        qiye_name,
      </if>
      <if test="shRatio != null" >
        sh_ratio,
      </if>
      <if test="shContrib != null" >
        sh_contrib,
      </if>
      <if test="shContribDate != null" >
        sh_contrib_date,
      </if>
      <if test="shType != null" >
        sh_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shName != null" >
        #{shName,jdbcType=VARCHAR},
      </if>
      <if test="qiyeName != null" >
        #{qiyeName,jdbcType=VARCHAR},
      </if>
      <if test="shRatio != null" >
        #{shRatio,jdbcType=VARCHAR},
      </if>
      <if test="shContrib != null" >
        #{shContrib,jdbcType=VARCHAR},
      </if>
      <if test="shContribDate != null" >
        #{shContribDate,jdbcType=VARCHAR},
      </if>
      <if test="shType != null" >
        #{shType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lengyan.crawler.store.model.po.xmlpo.qicha.QichaShareholder" >
    update t_qicha_shareholder
    <set >
      <if test="shName != null" >
        sh_name = #{shName,jdbcType=VARCHAR},
      </if>
      <if test="qiyeName != null" >
        qiye_name = #{qiyeName,jdbcType=VARCHAR},
      </if>
      <if test="shRatio != null" >
        sh_ratio = #{shRatio,jdbcType=VARCHAR},
      </if>
      <if test="shContrib != null" >
        sh_contrib = #{shContrib,jdbcType=VARCHAR},
      </if>
      <if test="shContribDate != null" >
        sh_contrib_date = #{shContribDate,jdbcType=VARCHAR},
      </if>
      <if test="shType != null" >
        sh_type = #{shType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lengyan.crawler.store.model.po.xmlpo.qicha.QichaShareholder" >
    update t_qicha_shareholder
    set sh_name = #{shName,jdbcType=VARCHAR},
      qiye_name = #{qiyeName,jdbcType=VARCHAR},
      sh_ratio = #{shRatio,jdbcType=VARCHAR},
      sh_contrib = #{shContrib,jdbcType=VARCHAR},
      sh_contrib_date = #{shContribDate,jdbcType=VARCHAR},
      sh_type = #{shType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>