<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lengyan.crawler.store.dao.sina.SinaUserMapper" >
  <resultMap id="BaseResultMap" type="org.lengyan.crawler.store.model.po.xmlpo.sina.SinaUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="head_url" property="headUrl" jdbcType="VARCHAR" />
    <result column="user_url" property="userUrl" jdbcType="VARCHAR" />
    <result column="approve" property="approve" jdbcType="VARCHAR" />
    <result column="member" property="member" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="recommend_flag" property="recommendFlag" jdbcType="VARCHAR" />
    <result column="follow_count" property="followCount" jdbcType="INTEGER" />
    <result column="fans_count" property="fansCount" jdbcType="INTEGER" />
    <result column="weibo_count" property="weiboCount" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="abstractContent" property="abstractContent" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, head_url, user_url, approve, member, gender, recommend_flag, follow_count, 
    fans_count, weibo_count, address, abstractContent, tags
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SINA_USER
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SINA_USER
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.lengyan.crawler.store.model.po.xmlpo.sina.SinaUser" >
    insert into T_SINA_USER (id, user_name, head_url,
      user_url, approve, member, 
      gender, recommend_flag, follow_count, 
      fans_count, weibo_count, address, 
      abstractContent, tags)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{headUrl,jdbcType=VARCHAR}, 
      #{userUrl,jdbcType=VARCHAR}, #{approve,jdbcType=VARCHAR}, #{member,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{recommendFlag,jdbcType=VARCHAR}, #{followCount,jdbcType=INTEGER}, 
      #{fansCount,jdbcType=INTEGER}, #{weiboCount,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{abstractContent,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lengyan.crawler.store.model.po.xmlpo.sina.SinaUser" >
    insert into T_SINA_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="headUrl != null" >
        head_url,
      </if>
      <if test="userUrl != null" >
        user_url,
      </if>
      <if test="approve != null" >
        approve,
      </if>
      <if test="member != null" >
        member,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="recommendFlag != null" >
        recommend_flag,
      </if>
      <if test="followCount != null" >
        follow_count,
      </if>
      <if test="fansCount != null" >
        fans_count,
      </if>
      <if test="weiboCount != null" >
        weibo_count,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="abstractContent != null" >
        abstractContent,
      </if>
      <if test="tags != null" >
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null" >
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="userUrl != null" >
        #{userUrl,jdbcType=VARCHAR},
      </if>
      <if test="approve != null" >
        #{approve,jdbcType=VARCHAR},
      </if>
      <if test="member != null" >
        #{member,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="recommendFlag != null" >
        #{recommendFlag,jdbcType=VARCHAR},
      </if>
      <if test="followCount != null" >
        #{followCount,jdbcType=INTEGER},
      </if>
      <if test="fansCount != null" >
        #{fansCount,jdbcType=INTEGER},
      </if>
      <if test="weiboCount != null" >
        #{weiboCount,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="abstractContent != null" >
        #{abstractContent,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lengyan.crawler.store.model.po.xmlpo.sina.SinaUser" >
    update T_SINA_USER
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null" >
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="userUrl != null" >
        user_url = #{userUrl,jdbcType=VARCHAR},
      </if>
      <if test="approve != null" >
        approve = #{approve,jdbcType=VARCHAR},
      </if>
      <if test="member != null" >
        member = #{member,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="recommendFlag != null" >
        recommend_flag = #{recommendFlag,jdbcType=VARCHAR},
      </if>
      <if test="followCount != null" >
        follow_count = #{followCount,jdbcType=INTEGER},
      </if>
      <if test="fansCount != null" >
        fans_count = #{fansCount,jdbcType=INTEGER},
      </if>
      <if test="weiboCount != null" >
        weibo_count = #{weiboCount,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="abstractContent != null" >
        abstractContent = #{abstractContent,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lengyan.crawler.store.model.po.xmlpo.sina.SinaUser" >
    update T_SINA_USER
    set user_name = #{userName,jdbcType=VARCHAR},
      head_url = #{headUrl,jdbcType=VARCHAR},
      user_url = #{userUrl,jdbcType=VARCHAR},
      approve = #{approve,jdbcType=VARCHAR},
      member = #{member,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      recommend_flag = #{recommendFlag,jdbcType=VARCHAR},
      follow_count = #{followCount,jdbcType=INTEGER},
      fans_count = #{fansCount,jdbcType=INTEGER},
      weibo_count = #{weiboCount,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      abstractContent = #{abstractContent,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>